<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935046400173-mp39fv7tablsh4ao223p880c2u8cde0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935046400173-mp39fv7tablsh4ao223p880c2u8cde0s</string>
	<key>API_KEY</key>
	<string>AIzaSyDQaZ7U-dojxcE-lI9UbAtNClkW5k5-4QY</string>
	<key>GCM_SENDER_ID</key>
	<string>935046400173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egorovmikhail-bk.ru.Weather</string>
	<key>PROJECT_ID</key>
	<string>weather-ff7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-ff7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935046400173:ios:a9c1cb87b70f30d4a65e24</string>
</dict>
</plist>